{"openapi":"3.1.1","info":{"title":"Hamstik Public API","version":"1.0.0","description":"Stable programmatic access to Hamstik through Personal Access Tokens. Cursors are opaque, error codes are stable, and public resource fields are explicit projections."},"servers":[{"url":"https://hamstik.com","description":"Hamstik"}],"paths":{"/api/v1/me":{"get":{"operationId":"getMe","summary":"Get the authenticated user and credential context","responses":{"200":{"description":"Authenticated identity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Me"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}},"security":[{"bearerAuth":[]}]}},"/api/v1/openapi.json":{"get":{"operationId":"getOpenApi","summary":"Get the Public API contract","security":[],"responses":{"200":{"description":"OpenAPI 3.1.1 document.","content":{"application/json":{"schema":{"type":"object"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}}}}},"/api/v1/users/{publicId}":{"get":{"operationId":"getUserProfile","summary":"Get an authenticated user profile","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}}],"responses":{"200":{"description":"Authenticated profile summary.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/work":{"get":{"operationId":"listUserProfileWork","summary":"List visible Work Items involving a user","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","maxLength":200}},{"name":"organization","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}},"style":"form","explode":true},{"name":"project","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}},"style":"form","explode":true},{"name":"involvement","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["assigned","created","commented"]}},"style":"form","explode":true},{"name":"status","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}}},{"name":"type","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["task","bug","story","feature","epic"]}}},{"name":"priority","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["low","medium","high","urgent"]}}},{"name":"sprint","in":"query","schema":{"type":"string"}},{"name":"label","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","format":"uuid"}}},{"name":"labelName","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","maxLength":200}}},{"name":"parent","in":"query","schema":{"type":"string"}},{"name":"topLevel","in":"query","schema":{"anyOf":[{"type":"boolean"},{"type":"string","enum":["1","0"]}]}},{"name":"updatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"overdue","in":"query","schema":{"type":"boolean"}},{"name":"dueBefore","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"dueAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["updated","dueDate","priority","rank"],"default":"updated"}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Comma-separated top-level Work Item summary fields. id, key, and revision are always returned; an empty value means all fields.","schema":{"type":"string"}},{"name":"scope","in":"query","schema":{"type":"string","enum":["open","all","closed"],"default":"open"}}],"responses":{"200":{"description":"Profile Work Item page. Each item includes a public assignee summary when present and a public reporter summary in the complete projection; sparse fields omit reporter because it is not a Work Item summary field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileWorkItemList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/activity":{"get":{"operationId":"listUserProfileActivity","summary":"List meaningful activity performed by a user","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"since","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Profile activity page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileActivityList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/avatar":{"get":{"operationId":"getUserProfileAvatar","summary":"Read an authenticated profile avatar","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"v","in":"query","schema":{"type":"string"}},{"name":"format","in":"query","schema":{"type":"string"}},{"name":"rev","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Avatar bytes. Hamstik-hosted avatars are served as the optimized 96-pixel WebP UI derivative; OAuth avatars are proxied in their original format.","content":{"image/jpeg":{"schema":{"type":"string","format":"binary"}},"image/png":{"schema":{"type":"string","format":"binary"}},"image/webp":{"schema":{"type":"string","format":"binary"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Cache-Control":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations":{"get":{"operationId":"listOrganizations","summary":"List accessible Organizations","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Organization page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}":{"get":{"operationId":"getOrganization","summary":"Get an Organization","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/users":{"get":{"operationId":"listOrganizationUsers","summary":"List active Organization members","security":[{"bearerAuth":[]}],"description":"Requires the organization:members:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","minLength":1,"maxLength":200}}],"responses":{"200":{"description":"Organization member page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationUserList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes":{"get":{"operationId":"listOrganizationAttributes","summary":"Discover Organization Attributes and allowed values","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeRetired","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Governed Attribute catalog. This route requires an Organization PAT grant and does not expose Project usage.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeCatalog"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createOrganizationAttribute","summary":"Create an Organization Attribute definition","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAttributeDefinitionRequest"},"examples":{"attributeValues":{"summary":"Create a stable-key single-select Attribute","value":{"key":"customer","name":"Customer","type":"single_select"}}}}}},"responses":{"201":{"description":"Created Attribute definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"attribute-1\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}":{"get":{"operationId":"getOrganizationAttribute","summary":"Get an Organization Attribute by stable key","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Attribute definition and ordered options.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"renameOrganizationAttribute","summary":"Rename an Organization Attribute","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\"). Wildcard updates are not supported.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameAttributeDefinitionRequest"}}}},"responses":{"200":{"description":"Renamed Attribute definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}/transitions":{"post":{"operationId":"transitionOrganizationAttribute","summary":"Disable, re-enable, or retire an Attribute","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionAttributeDefinitionRequest"}}}},"responses":{"200":{"description":"Updated Attribute lifecycle state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}/options":{"post":{"operationId":"createOrganizationAttributeOption","summary":"Add an allowed option","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAttributeOptionRequest"}}}},"responses":{"201":{"description":"Added option. The returned definition revision is incremented.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}/options/reorder":{"post":{"operationId":"reorderOrganizationAttributeOptions","summary":"Set the complete ordered option-key list","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReorderAttributeOptionsRequest"}}}},"responses":{"200":{"description":"Reordered options.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}/options/{optionKey}":{"patch":{"operationId":"renameOrganizationAttributeOption","summary":"Rename an option label by stable key","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"optionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RenameAttributeOptionRequest"}}}},"responses":{"200":{"description":"Renamed option.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/attributes/{attributeKey}/options/{optionKey}/retire":{"post":{"operationId":"retireOrganizationAttributeOption","summary":"Retire an option without deleting retained assignments","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"optionKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"reason":{"type":"string","minLength":1,"maxLength":500}}}}}},"responses":{"200":{"description":"Retired option.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects":{"get":{"operationId":"listProjects","summary":"List Projects in an Organization","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Project page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createProject","summary":"Create a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequest"}}}},"responses":{"201":{"description":"Created Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}":{"get":{"operationId":"getProject","summary":"Get a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"project-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateProject","summary":"Update a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectRequest"}}}},"responses":{"200":{"description":"Updated Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/attributes":{"get":{"operationId":"listProjectAttributes","summary":"Discover Attribute definitions enabled for one Project","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Definitions enabled for this accessible Project and their active allowed values. No other Project usage is disclosed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAttributeCatalog"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/attributes/{attributeKey}/enablement":{"post":{"operationId":"setProjectAttributeEnablement","summary":"Enable or disable one Organization Attribute for a Project","security":[{"bearerAuth":[]}],"description":"Requires the attribute:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"attributeKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact Attribute ETag (for example, \"attribute-4\").","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetProjectAttributeEnablementRequest"},"examples":{"attributeValues":{"summary":"Enable the governed Attribute for this Project","value":{"enabled":true}}}}}},"responses":{"200":{"description":"Updated Project enablement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectAttributeEnablement"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/archive":{"post":{"operationId":"archiveProject","summary":"Archive a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Archive a Project result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/unarchive":{"post":{"operationId":"unarchiveProject","summary":"Unarchive a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Unarchive a Project result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints":{"get":{"operationId":"listProjectSprints","summary":"List Project Sprints","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Sprint page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createProjectSprint","summary":"Create a Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectSprintRequest"}}}},"responses":{"201":{"description":"Created Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-1\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints/{sprintId}":{"get":{"operationId":"getProjectSprint","summary":"Get a Project Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints/{sprintId}/transitions":{"get":{"operationId":"listProjectSprintTransitions","summary":"Discover available Sprint transitions","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available Sprint transitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSprintTransitionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"transitionProjectSprint","summary":"Transition a Project Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Sprint ETag (for example, \"sprint-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"sprint-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionProjectSprintRequest"}}}},"responses":{"200":{"description":"Transitioned Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-2\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases":{"get":{"operationId":"listReleaseVersions","summary":"List Project Release Versions","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"state","in":"query","schema":{"type":"string","enum":["planned","in_progress","released","archived"]}},{"name":"includeArchived","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Release Version page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createReleaseVersion","summary":"Create a Project Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReleaseVersionRequest"}}}},"responses":{"201":{"description":"Created Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}":{"get":{"operationId":"getReleaseVersion","summary":"Get a Project Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateReleaseVersion","summary":"Update a Project Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Release Version ETag (for example, \"release-4\") or *.","schema":{"type":"string","pattern":"^(?:\\*|\"release-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReleaseVersionRequest"}}}},"responses":{"200":{"description":"Updated Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/transitions":{"get":{"operationId":"listReleaseVersionTransitions","summary":"Discover Release Version transitions","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available transitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersionTransitionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"transitionReleaseVersion","summary":"Transition, archive, or restore a Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Release Version ETag (for example, \"release-4\") or *.","schema":{"type":"string","pattern":"^(?:\\*|\"release-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionReleaseVersionRequest"}}}},"responses":{"200":{"description":"Transitioned Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/archive":{"post":{"operationId":"archiveReleaseVersion","summary":"Archive a Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Release Version ETag (for example, \"release-4\") or *.","schema":{"type":"string","pattern":"^(?:\\*|\"release-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersionLifecycleRequest"}}}},"responses":{"200":{"description":"Archived Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/restore":{"post":{"operationId":"restoreReleaseVersion","summary":"Restore a Release Version","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Release Version ETag (for example, \"release-4\") or *.","schema":{"type":"string","pattern":"^(?:\\*|\"release-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersionLifecycleRequest"}}}},"responses":{"200":{"description":"Restored Release Version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersion"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"release-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/scope":{"get":{"operationId":"getReleaseVersionScope","summary":"Read Release scope, progress, and paginated Work Items","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","maxLength":200}},{"name":"status","in":"query","schema":{"type":"string","maxLength":200}},{"name":"type","in":"query","schema":{"type":"string","maxLength":200}},{"name":"priority","in":"query","schema":{"type":"string","maxLength":200}},{"name":"assigneeId","in":"query","schema":{"type":"string","maxLength":200}},{"name":"sort","in":"query","schema":{"type":"string","enum":["key","title","type","status","priority","assignee"]}},{"name":"direction","in":"query","schema":{"type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"Summary and current Work Item scope. Original released scope counts remain stable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseVersionScope"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/announcements":{"get":{"operationId":"getCurrentReleaseAnnouncement","summary":"Read the latest published Release announcement","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Immutable published announcement revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseAnnouncementRevision"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/announcements/{revision}":{"get":{"operationId":"getReleaseAnnouncementRevision","summary":"Read a historical Release announcement revision","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"revision","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"Immutable published announcement revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseAnnouncementRevision"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/announcements/draft":{"get":{"operationId":"getReleaseAnnouncementDraft","summary":"Read the active Release announcement draft","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Active draft with live scope differences.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseAnnouncementDraft"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"generateReleaseAnnouncementDraft","summary":"Generate or refresh a Release announcement draft","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateReleaseAnnouncementDraftRequest"}}}},"responses":{"201":{"description":"Generated draft.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseAnnouncementDraft"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"editReleaseAnnouncementDraft","summary":"Edit announcement narrative, categories, and included Work Items","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditReleaseAnnouncementDraftRequest"}}}},"responses":{"200":{"description":"Updated draft.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseAnnouncementDraft"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"delete":{"operationId":"archiveReleaseAnnouncementDraft","summary":"Archive the active announcement draft","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnnouncementDraftRevisionRequest"}}}},"responses":{"204":{"description":"Draft archived.","headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/releases/{releaseId}/announcements/publish":{"post":{"operationId":"publishReleaseAnnouncement","summary":"Publish an immutable announcement revision","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishReleaseAnnouncementRequest"}}}},"responses":{"201":{"description":"Published revision ID and number.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishedReleaseAnnouncementReference"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/release-memberships/bulk":{"post":{"operationId":"bulkMutateReleaseMemberships","summary":"Change Release Version memberships for up to 50 Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkReleaseMembershipRequest"}}}},"responses":{"200":{"description":"Per-item results; inspect partial and each status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkReleaseMembershipResponse"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/release-audit-reports":{"get":{"operationId":"listReleaseAuditReports","summary":"List immutable Release audit packages in an authorized Project","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"releaseVersionId","in":"query","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Saved package summaries and next cursor.","content":{"application/json":{"schema":{"type":"object","required":["items","page"],"properties":{"items":{"type":"array","items":{"type":"object","required":["id","kind","sha256","generatedAt"],"properties":{"id":{"type":"string","format":"uuid"},"kind":{"type":"string","enum":["dossier","register"]},"sha256":{"type":"string","pattern":"^[0-9a-f]{64}$"},"generatedAt":{"type":"string","format":"date-time"}}}},"page":{"type":"object","properties":{"limit":{"type":"integer"},"nextCursor":{"type":["string","null"]}}}}}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"generateReleaseAuditReport","summary":"Generate a frozen dossier or UTC change register","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","required":["kind","releaseVersionId"],"additionalProperties":false,"properties":{"kind":{"type":"string","const":"dossier"},"releaseVersionId":{"type":"string","format":"uuid"}}},{"type":"object","required":["kind","from","through"],"additionalProperties":false,"properties":{"kind":{"type":"string","const":"register"},"from":{"type":"string","format":"date-time"},"through":{"type":"string","format":"date-time"}}}]}}}},"responses":{"201":{"description":"Generated immutable report summary.","content":{"application/json":{"schema":{"type":"object","required":["id","kind","sha256","generatedAt"],"properties":{"id":{"type":"string","format":"uuid"},"kind":{"type":"string","enum":["dossier","register"]},"sha256":{"type":"string","pattern":"^[0-9a-f]{64}$"},"generatedAt":{"type":"string","format":"date-time"}}}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/release-audit-reports/{reportId}":{"get":{"operationId":"getReleaseAuditReport","summary":"Download exact saved JSON or a CSV ZIP package","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"reportId","in":"path","required":true,"schema":{"type":"string"}},{"name":"format","in":"query","schema":{"type":"string","enum":["json","csv"],"default":"json"}}],"responses":{"200":{"description":"The exact immutable package. X-Content-SHA256 covers the JSON bytes, including report.json in the ZIP.","content":{"application/json":{"schema":{"type":"object"}},"application/zip":{"schema":{"type":"string","format":"binary"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"X-Content-SHA256":{"schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/milestones":{"get":{"operationId":"listOrganizationMilestones","summary":"List Organization Milestones with authorized Project progress","security":[{"bearerAuth":[]}],"description":"Requires the milestone:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"state","in":"query","schema":{"type":"string","enum":["planned","in_progress","completed","archived"]}},{"name":"includeArchived","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Milestones and progress limited to authorized Projects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestoneList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createOrganizationMilestone","summary":"Create an Organization Milestone","security":[{"bearerAuth":[]}],"description":"Requires the milestone:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationMilestoneRequest"}}}},"responses":{"201":{"description":"Created Milestone.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestone"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"milestone-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/milestones/{milestoneId}":{"get":{"operationId":"getOrganizationMilestone","summary":"Get Milestone and a page of accessible Release Versions","security":[{"bearerAuth":[]}],"description":"Requires the milestone:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseAfter","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"Milestone detail scoped to authorized Projects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestoneDetail"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"milestone-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateOrganizationMilestone","summary":"Update Milestone metadata","security":[{"bearerAuth":[]}],"description":"Requires the milestone:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string","example":"\"milestone-1\""}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganizationMilestoneRequest"}}}},"responses":{"200":{"description":"Updated Milestone.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestone"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"milestone-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/milestones/{milestoneId}/transitions":{"get":{"operationId":"listOrganizationMilestoneTransitions","summary":"Discover Milestone transitions","security":[{"bearerAuth":[]}],"description":"Requires the milestone:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available transitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestoneTransitionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"transitionOrganizationMilestone","summary":"Transition, archive, or restore a Milestone","security":[{"bearerAuth":[]}],"description":"Requires the milestone:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string","example":"\"milestone-1\""}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionOrganizationMilestoneRequest"}}}},"responses":{"200":{"description":"Transitioned Milestone.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestone"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"milestone-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/milestones/{milestoneId}/releases":{"get":{"operationId":"listOrganizationMilestoneReleases","summary":"List accessible Release Versions in a Milestone","security":[{"bearerAuth":[]}],"description":"Requires the milestone:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"cursor","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"Authorized Release Version page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestoneReleaseList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"mutateOrganizationMilestoneRelease","summary":"Add or remove a Milestone Release Version","security":[{"bearerAuth":[]}],"description":"Requires the milestone:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"schema":{"type":"string","example":"\"milestone-1\""}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MutateOrganizationMilestoneReleaseRequest"}}}},"responses":{"200":{"description":"Updated Milestone.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestone"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"milestone-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/milestones/{milestoneId}/events":{"get":{"operationId":"listOrganizationMilestoneEvents","summary":"Read authorized Milestone history","security":[{"bearerAuth":[]}],"description":"Requires the milestone:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"milestoneId","in":"path","required":true,"schema":{"type":"string"}},{"name":"beforeEventId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"Milestone events without inaccessible Project membership details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationMilestoneEventList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/releases":{"get":{"operationId":"listWorkItemReleaseVersions","summary":"List a Work Item's Release Versions","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Release Version memberships.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemReleaseVersions"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"wi-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"mutateWorkItemReleaseVersions","summary":"Add, remove, or replace Work Item Release Versions","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MutateWorkItemReleaseVersionsRequest"}}}},"responses":{"200":{"description":"Current Release Version memberships.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemReleaseVersions"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"wi-2\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items":{"get":{"operationId":"listWorkItems","summary":"List and filter Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength"
[...]
