{"openapi":"3.1.1","info":{"title":"Hamstik Public API","version":"1.0.0","description":"Stable programmatic access to Hamstik through Personal Access Tokens. Cursors are opaque, error codes are stable, and public resource fields are explicit projections."},"servers":[{"url":"https://hamstik.com","description":"Hamstik"}],"paths":{"/api/v1/me":{"get":{"operationId":"getMe","summary":"Get the authenticated user and credential context","responses":{"200":{"description":"Authenticated identity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Me"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}},"security":[{"bearerAuth":[]}]}},"/api/v1/openapi.json":{"get":{"operationId":"getOpenApi","summary":"Get the Public API contract","security":[],"responses":{"200":{"description":"OpenAPI 3.1.1 document.","content":{"application/json":{"schema":{"type":"object"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}}}}},"/api/v1/users/{publicId}":{"get":{"operationId":"getUserProfile","summary":"Get an authenticated user profile","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}}],"responses":{"200":{"description":"Authenticated profile summary.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfile"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/work":{"get":{"operationId":"listUserProfileWork","summary":"List visible Work Items involving a user","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","maxLength":200}},{"name":"organization","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}},"style":"form","explode":true},{"name":"project","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}},"style":"form","explode":true},{"name":"involvement","in":"query","required":false,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["assigned","created","commented"]}},"style":"form","explode":true},{"name":"status","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}}},{"name":"type","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["task","bug","story","feature","epic"]}}},{"name":"priority","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["low","medium","high","urgent"]}}},{"name":"sprint","in":"query","schema":{"type":"string"}},{"name":"label","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","format":"uuid"}}},{"name":"labelName","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","maxLength":200}}},{"name":"parent","in":"query","schema":{"type":"string"}},{"name":"topLevel","in":"query","schema":{"anyOf":[{"type":"boolean"},{"type":"string","enum":["1","0"]}]}},{"name":"updatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"overdue","in":"query","schema":{"type":"boolean"}},{"name":"dueBefore","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"dueAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["updated","dueDate","priority","rank"],"default":"updated"}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Comma-separated top-level Work Item summary fields. id, key, and revision are always returned; an empty value means all fields.","schema":{"type":"string"}},{"name":"scope","in":"query","schema":{"type":"string","enum":["open","all","closed"],"default":"open"}}],"responses":{"200":{"description":"Profile Work Item page. Each item includes a public assignee summary when present and a public reporter summary in the complete projection; sparse fields omit reporter because it is not a Work Item summary field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileWorkItemList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/activity":{"get":{"operationId":"listUserProfileActivity","summary":"List meaningful activity performed by a user","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"since","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Profile activity page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileActivityList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/users/{publicId}/avatar":{"get":{"operationId":"getUserProfileAvatar","summary":"Read an authenticated profile avatar","security":[{"bearerAuth":[]}],"description":"Requires the profile:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"publicId","in":"path","required":true,"schema":{"$ref":"#/components/schemas/PublicUserId"}},{"name":"v","in":"query","schema":{"type":"string"}},{"name":"format","in":"query","schema":{"type":"string"}},{"name":"rev","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Avatar bytes.","content":{"image/jpeg":{"schema":{"type":"string","format":"binary"}},"image/png":{"schema":{"type":"string","format":"binary"}},"image/webp":{"schema":{"type":"string","format":"binary"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Cache-Control":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations":{"get":{"operationId":"listOrganizations","summary":"List accessible Organizations","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Organization page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}":{"get":{"operationId":"getOrganization","summary":"Get an Organization","security":[{"bearerAuth":[]}],"description":"Requires the organization:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Organization.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/users":{"get":{"operationId":"listOrganizationUsers","summary":"List active Organization members","security":[{"bearerAuth":[]}],"description":"Requires the organization:members:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","minLength":1,"maxLength":200}}],"responses":{"200":{"description":"Organization member page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationUserList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects":{"get":{"operationId":"listProjects","summary":"List Projects in an Organization","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"Project page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createProject","summary":"Create a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequest"}}}},"responses":{"201":{"description":"Created Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}":{"get":{"operationId":"getProject","summary":"Get a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"project-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateProject","summary":"Update a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectRequest"}}}},"responses":{"200":{"description":"Updated Project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/archive":{"post":{"operationId":"archiveProject","summary":"Archive a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Archive a Project result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/unarchive":{"post":{"operationId":"unarchiveProject","summary":"Unarchive a Project","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Project ETag (for example, \"project-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"project-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Unarchive a Project result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints":{"get":{"operationId":"listProjectSprints","summary":"List Project Sprints","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Sprint page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createProjectSprint","summary":"Create a Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectSprintRequest"}}}},"responses":{"201":{"description":"Created Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-1\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints/{sprintId}":{"get":{"operationId":"getProjectSprint","summary":"Get a Project Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-1\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints/{sprintId}/transitions":{"get":{"operationId":"listProjectSprintTransitions","summary":"Discover available Sprint transitions","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available Sprint transitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSprintTransitionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"transitionProjectSprint","summary":"Transition a Project Sprint","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted Sprint ETag (for example, \"sprint-4\") or *. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"sprint-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionProjectSprintRequest"}}}},"responses":{"200":{"description":"Transitioned Sprint.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Sprint"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"sprint-2\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items":{"get":{"operationId":"listWorkItems","summary":"List and filter Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"q","in":"query","schema":{"type":"string","maxLength":200}},{"name":"status","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}}},{"name":"scope","in":"query","schema":{"type":"string","enum":["all","open","closed"],"default":"all"}},{"name":"type","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["task","bug","story","feature","epic"]}}},{"name":"priority","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["low","medium","high","urgent"]}}},{"name":"assignee","in":"query","schema":{"type":"string","description":"A user UUID, me, or none."}},{"name":"sprint","in":"query","schema":{"type":"string","description":"A sprint UUID or none."}},{"name":"label","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","format":"uuid"}}},{"name":"labelName","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","minLength":1,"maxLength":200}}},{"name":"parent","in":"query","schema":{"type":"string"}},{"name":"topLevel","in":"query","description":"Boolean; numeric-string aliases 1 and 0 are also accepted.","schema":{"anyOf":[{"type":"boolean"},{"type":"string","enum":["1","0"]}]}},{"name":"updatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"overdue","in":"query","schema":{"type":"boolean"}},{"name":"dueBefore","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"dueAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["updated","dueDate","priority","rank"],"default":"updated"}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Comma-separated top-level Work Item summary fields. id, key, and revision are always returned; an empty value means all fields.","schema":{"type":"string"}}],"responses":{"200":{"description":"Work Item summary page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createWorkItem","summary":"Create a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkItemRequest"}}}},"responses":{"201":{"description":"Created Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"description":"Work Item revision ETag.","schema":{"type":"string"}},"Idempotency-Replayed":{"description":"Present and true when a completed create is replayed.","schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/work-items":{"get":{"operationId":"listOrganizationWorkItems","summary":"List Work Items across an Organization","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"project","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}}},{"name":"q","in":"query","schema":{"type":"string","maxLength":200}},{"name":"status","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}}},{"name":"scope","in":"query","schema":{"type":"string","enum":["all","open","closed"],"default":"all"}},{"name":"type","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["task","bug","story","feature","epic"]}}},{"name":"priority","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["low","medium","high","urgent"]}}},{"name":"assignee","in":"query","schema":{"type":"string","description":"A user UUID, me, or none."}},{"name":"sprint","in":"query","schema":{"type":"string","description":"A sprint UUID or none."}},{"name":"label","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","format":"uuid"}}},{"name":"labelName","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","minLength":1,"maxLength":200}}},{"name":"parent","in":"query","schema":{"type":"string"}},{"name":"topLevel","in":"query","description":"Boolean; numeric-string aliases 1 and 0 are also accepted.","schema":{"anyOf":[{"type":"boolean"},{"type":"string","enum":["1","0"]}]}},{"name":"updatedAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"overdue","in":"query","schema":{"type":"boolean"}},{"name":"dueBefore","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"dueAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["updated","dueDate","priority","rank"],"default":"updated"}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Comma-separated top-level Work Item summary fields. id, key, and revision are always returned; an empty value means all fields.","schema":{"type":"string"}}],"responses":{"200":{"description":"Organization Work Item page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemContextList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/work-items/search":{"post":{"operationId":"searchOrganizationWorkItemsWithSqueakQL","summary":"Search Organization Work Items with SqueakQL","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SqueakQLSearchRequest"}}}},"responses":{"200":{"description":"Read-only search; no Idempotency-Key is required. Send only query, limit and cursor in the JSON body; structured filters and URL query parameters are rejected.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemContextList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/squeakql/validate":{"post":{"operationId":"validateSqueakQL","summary":"Validate a SqueakQL query","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SqueakQLValidateRequest"}}}},"responses":{"200":{"description":"SqueakQL validation result, including errors: [] for a valid query. Does not resolve referenced entities.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SqueakQLValidationResponse"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/my/work":{"get":{"operationId":"listMyWork","summary":"List the authenticated user's Work","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"project","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}}},{"name":"status","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}}},{"name":"type","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["task","bug","story","feature","epic"]}}},{"name":"priority","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","enum":["low","medium","high","urgent"]}}},{"name":"label","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string","format":"uuid"}}},{"name":"labelName","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":100,"items":{"type":"string"}}},{"name":"scope","in":"query","schema":{"type":"string","enum":["open","all","closed"],"default":"open"}},{"name":"overdue","in":"query","schema":{"type":"boolean"}},{"name":"dueBefore","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"dueAfter","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"sort","in":"query","schema":{"type":"string","enum":["updated","dueDate","priority","rank"],"default":"updated"}},{"name":"archived","in":"query","schema":{"type":"boolean","default":false}},{"name":"fields","in":"query","description":"Comma-separated top-level Work Item summary fields. id, key, and revision are always returned; an empty value means all fields.","schema":{"type":"string"}}],"responses":{"200":{"description":"My Work page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemContextList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/bulk-work-items":{"post":{"operationId":"bulkCreateWorkItems","summary":"Create up to 50 Work Items atomically per request","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["operations"],"properties":{"operations":{"type":"array","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/BulkCreateWorkItemOperation"}}}}}}},"responses":{"200":{"description":"Per-item bulk results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkResultList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"bulkUpdateWorkItems","summary":"Update up to 50 Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["operations"],"properties":{"concurrency":{"type":"string","enum":["require-revision","last-write-wins"],"default":"require-revision"},"operations":{"type":"array","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/BulkUpdateWorkItemOperation"}}}}}}},"responses":{"200":{"description":"Per-item bulk results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkResultList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/bulk-work-item-transitions":{"post":{"operationId":"bulkTransitionWorkItems","summary":"Transition up to 50 Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["operations"],"properties":{"concurrency":{"type":"string","enum":["require-revision","last-write-wins"],"default":"require-revision"},"operations":{"type":"array","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/BulkTransitionWorkItemOperation"}}}}}}},"responses":{"200":{"description":"Per-item bulk results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkResultList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/labels":{"get":{"operationId":"listProjectLabels","summary":"List Project labels","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Project label page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectLabelList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createProjectLabel","summary":"Create a Project label","security":[{"bearerAuth":[]}],"description":"Requires the project:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":100},"color":{"type":"string","pattern":"^#[0-9a-f]{6}$"}}}}}},"responses":{"201":{"description":"Created Project label.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectLabel"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}":{"get":{"operationId":"getWorkItem","summary":"Get a complete Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"description":"Current Work Item revision.","schema":{"type":"string","example":"\"wi-4\""}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateWorkItem","summary":"Update mutable Work Item fields","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkItemRequest"}}}},"responses":{"200":{"description":"Updated Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"description":"New Work Item revision.","schema":{"type":"string"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"delete":{"operationId":"deleteWorkItem","summary":"Soft-delete a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:delete scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"cascade":{"type":"boolean","default":false}}}}}},"responses":{"204":{"description":"Work Item deleted.","headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/archive":{"post":{"operationId":"archiveWorkItem","summary":"Archive a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:delete scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Archive a Work Item result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicWorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/unarchive":{"post":{"operationId":"unarchiveWorkItem","summary":"Unarchive a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:delete scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{}}}}},"responses":{"200":{"description":"Unarchive a Work Item result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicWorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/transitions":{"get":{"operationId":"listWorkItemTransitions","summary":"Discover available Work Item transitions","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Available transitions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemTransitionList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"transitionWorkItem","summary":"Transition a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitionRequest"}}}},"responses":{"200":{"description":"Transitioned Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"description":"New Work Item revision.","schema":{"type":"string"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/labels":{"post":{"operationId":"createWorkItemLabelAssignment","summary":"Attach a label to a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"labelId":{"type":"string","minLength":1,"maxLength":100},"label":{"type":"string","minLength":1,"maxLength":100}},"additionalProperties":false}}}},"responses":{"200":{"description":"Updated Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicWorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"wi-5\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/labels/{labelId}":{"delete":{"operationId":"deleteWorkItemLabelAssignment","summary":"Detach a label from a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"labelId","in":"path","required":true,"schema":{"type":"string"}},{"name":"If-Match","in":"header","required":true,"description":"Exact quoted ETag (for example, \"wi-4\") or * for an explicit last-write-wins update. Weak ETags and comma-separated lists are invalid.","schema":{"type":"string","pattern":"^(?:\\*|\"wi-[1-9][0-9]*\")$"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"responses":{"200":{"description":"Updated Work Item.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicWorkItem"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"ETag":{"schema":{"type":"string","example":"\"wi-5\""}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"412":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"428":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/sprints/{sprintId}/report":{"get":{"operationId":"getProjectSprintReport","summary":"Get a Sprint delivery report","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Sprint report with commitment, scope changes, carryover, burndown, end status, and a paginated change feed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintReport"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/reports/{reportType}":{"get":{"operationId":"getProjectReport","summary":"Get a project reporting series or rollup","security":[{"bearerAuth":[]}],"description":"Requires the project:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"reportType","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"range","in":"query","description":"Recent Sprint count or calendar-day range. Created-vs-resolved supports up to 366 days; other time series cap at 90 days.","schema":{"type":"integer","minimum":1,"maximum":366}},{"name":"start","in":"query","description":"Inclusive ISO calendar date. Must be on or before end.","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"Inclusive ISO calendar date.","schema":{"type":"string","format":"date"}},{"name":"timeZone","in":"query","schema":{"type":"string","example":"America/Chicago"}},{"name":"unit","in":"query","schema":{"type":"string","enum":["count","points","items"]}},{"name":"interval","in":"query","schema":{"type":"string","enum":["day","week","month"]}},{"name":"measure","in":"query","schema":{"type":"string","enum":["cycle","lead"]}},{"name":"cycleStartStatus","in":"query","description":"Canonical status whose first entry starts cycle time.","schema":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}},{"name":"window","in":"query","schema":{"type":"integer","minimum":1,"maximum":100}},{"name":"groupBy","in":"query","schema":{"type":"string","enum":["status","type","priority","assignee","label"]}},{"name":"scope","in":"query","schema":{"type":"string","enum":["open","all"]}},{"name":"sprint","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"sort","in":"query","description":"Epic ordering, or Ageing WIP oldest-list ordering.","schema":{"type":"string","enum":["name","progress","targetDate","age","workItem","status","assignee","since"]}},{"name":"q","in":"query","schema":{"type":"string","minLength":1,"maxLength":200}},{"name":"squeakql","in":"query","description":"Validated SqueakQL population filter.","schema":{"type":"string","minLength":1,"maxLength":2000}},{"name":"status","in":"query","schema":{"type":"string","enum":["backlog","todo","in_progress","in_review","done"]}},{"name":"type","in":"query","schema":{"type":"string","enum":["task","bug","story","feature","epic"]}},{"name":"priority","in":"query","schema":{"type":"string","enum":["low","medium","high","urgent"]}},{"name":"assignee","in":"query","description":"Organization-member UUID, me, or none.","schema":{"oneOf":[{"type":"string","enum":["me","none"]},{"type":"string","format":"uuid"}]}},{"name":"label","in":"query","description":"Project label UUID or name, or none for Work Items without labels.","schema":{"type":"string","minLength":1,"maxLength":200}},{"name":"buckets","in":"query","description":"Ascending comma-separated inclusive day limits for Ageing WIP, for example 3,7,14,30,60.","schema":{"type":"string","example":"3,7,14,30,60"}}],"responses":{"200":{"description":"Bounded project report data. The selected series or rows are returned in items and data with an opaque cursor page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectReport"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/watcher":{"get":{"operationId":"getWorkItemWatcher","summary":"Get the authenticated user's Work Item watcher state","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The authenticated user's watcher state; other watchers are never disclosed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemWatcher"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"updateWorkItemWatcher","summary":"Watch, unwatch, mute, or unmute a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemWatcherActionRequest"}}}},"responses":{"200":{"description":"Updated watcher state for the authenticated user.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemWatcher"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/links":{"get":{"operationId":"listWorkItemLinks","summary":"List visible links for a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-100, default 50).","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Visible Work Item links.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemLinkList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createWorkItemLink","summary":"Link two Work Items","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePublicWorkItemLinkRequest"}}}},"responses":{"201":{"description":"Created Work Item link.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkItemLink"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/links/{linkId}":{"delete":{"operationId":"deleteWorkItemLink","summary":"Delete a Work Item link","security":[{"bearerAuth":[]}],"description":"Requires the work_item:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"linkId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"responses":{"204":{"description":"Link removed.","headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/activity":{"get":{"operationId":"listWorkItemActivity","summary":"List Work Item activity","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"since","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Chronological Work Item activity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/activity":{"get":{"operationId":"listProjectActivity","summary":"List Project activity","security":[{"bearerAuth":[]}],"description":"Requires the work_item:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}},{"name":"since","in":"query","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Newest-first Project activity.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectActivityList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/comments":{"get":{"operationId":"listWorkItemComments","summary":"List Work Item comments","security":[{"bearerAuth":[]}],"description":"Requires the comment:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Flat comment page ordered oldest first.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createWorkItemComment","summary":"Create a Work Item comment or reply","security":[{"bearerAuth":[]}],"description":"Requires the comment:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}}},"responses":{"201":{"description":"Created Comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/comments/{commentId}":{"delete":{"operationId":"deleteWorkItemComment","summary":"Delete an authored Work Item comment","security":[{"bearerAuth":[]}],"description":"Requires the comment:delete scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Comment removed. The comment remains as a deleted placeholder for thread structure.","headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"patch":{"operationId":"updateWorkItemComment","summary":"Edit an authored Work Item comment","security":[{"bearerAuth":[]}],"description":"Requires the comment:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"required":["body"],"properties":{"body":{"type":"string","minLength":1,"maxLength":2000}}}}}},"responses":{"200":{"description":"Updated Comment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicComment"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"409":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/attachments":{"get":{"operationId":"listWorkItemAttachments","summary":"List Work Item attachments","security":[{"bearerAuth":[]}],"description":"Requires the attachment:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"description":"Results per page (1-200, default 50).","schema":{"type":"integer","minimum":1,"maximum":200,"default":50}},{"name":"cursor","in":"query","required":false,"description":"Opaque cursor returned by the preceding page.","schema":{"type":"string","minLength":1,"maxLength":2048}}],"responses":{"200":{"description":"Attachment metadata page.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachmentList"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"post":{"operationId":"createWorkItemAttachment","summary":"Add an attachment to a Work Item","security":[{"bearerAuth":[]}],"description":"Requires the attachment:write scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"Idempotency-Key","in":"header","required":true,"description":"New key per logical mutation; reuse only for retries of that same request. Keys expire after 24 hours.","schema":{"type":"string","pattern":"^[A-Za-z0-9._:-]{8,128}$","minLength":8,"maxLength":128}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary"}},"additionalProperties":false}}}},"responses":{"201":{"description":"Created attachment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attachment"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Location":{"description":"Canonical attachment URL.","schema":{"type":"string","format":"uri"}},"Idempotency-Replayed":{"schema":{"type":"boolean"}}}},"400":{"$ref":"#/components/responses/PublicError"},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"413":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}},"/api/v1/organizations/{organizationSlug}/projects/{projectKey}/work-items/{workItemKey}/attachments/{attachmentId}":{"get":{"operationId":"downloadWorkItemAttachment","summary":"Download a Work Item attachment","security":[{"bearerAuth":[]}],"description":"Requires the attachment:read scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"attachmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Attachment bytes.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}},"Content-Length":{"schema":{"type":"integer","minimum":0}},"Content-Disposition":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}},"delete":{"operationId":"deleteWorkItemAttachment","summary":"Delete a Work Item attachment","security":[{"bearerAuth":[]}],"description":"Requires the attachment:delete scope. User authorization and PAT resource restrictions still apply.","parameters":[{"name":"organizationSlug","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"workItemKey","in":"path","required":true,"schema":{"type":"string"}},{"name":"attachmentId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Attachment removed.","headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}},"401":{"$ref":"#/components/responses/PublicError"},"403":{"$ref":"#/components/responses/PublicError"},"404":{"$ref":"#/components/responses/PublicError"},"429":{"$ref":"#/components/responses/PublicError"},"500":{"$ref":"#/components/responses/PublicError"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"Hamstik PAT","description":"Personal Access Token sent in the Authorization header."}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}},"responses":{"PublicError":{"description":"Structured Public API error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Server-generated request correlation identifier.","schema":{"type":"string","format":"uuid"}}}}},"schemas":{"PublicError":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["AUTH_REQUIRED","INVALID_TOKEN","INSUFFICIENT_SCOPE","FORBIDDEN","NOT_FOUND","METHOD_NOT_ALLOWED","ORGANIZATION_SUSPENDED","VALIDATION_ERROR","INVALID_CURSOR","CONFLICT","PRECONDITION_REQUIRED","REVISION_CONFLICT","IDEMPOTENCY_KEY_REQUIRED","IDEMPOTENCY_KEY_REUSED","IDEMPOTENCY_REQUEST_IN_PROGRESS","WORK_ITEM_STATUS_REQUIRES_TRANSITION","INVALID_STATUS_TRANSITION","INVALID_SPRINT_TRANSITION","ACTIVE_SPRINT_EXISTS","SPRINT_HAS_UNFINISHED_WORK_ITEMS","INVALID_COMPLETION_TARGET","LINK_DUPLICATE","LINK_CONTRADICTION","WORK_ITEM_ARCHIVED","WORK_ITEM_HAS_CHILDREN","PROJECT_ARCHIVED","RATE_LIMITED","PAYLOAD_TOO_LARGE","INTERNAL_ERROR"]},"message":{"type":"string"},"fieldErrors":{"$ref":"#/components/schemas/FieldErrors"},"details":{"type":"object","additionalProperties":true}}},"FieldErrors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"PublicErrorEnvelope":{"type":"object","required":["error","requestId"],"properties":{"error":{"$ref":"#/components/schemas/PublicError"},"requestId":{"type":"string","format":"uuid"}}},"AuthenticationContext":{"type":"object","required":["type","credentialId","credentialName","scopes","expiresAt"],"properties":{"type":{"type":"string","enum":["pat"]},"credentialId":{"type":"string","format":"uuid"},"credentialName":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"expiresAt":{"type":"string","format":"date-time"}}},"OrganizationSummary":{"type":"object","required":["id","slug","name"],"properties":{"id":{"type":"string","format":"uuid"},"slug":{"type":"string"},"name":{"type":"string"}}},"PublicUserId":{"type":"string","pattern":"^usr_[A-Za-z0-9_-]{21}[AQgw]$","minLength":26,"maxLength":2
[...]
